services:
  frontend:
    build:
      context: .
      args:
        VITE_REACT_APP_DEV: "${VITE_REACT_APP_DEV}"      # Pass dev/prod flag to Dockerfile
      target: ${DOCKER_TARGET}   # Choose stage: dev or prod
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "${FRONTEND_PORT}:${CONTAINER_PORT}"
