services:
  backend:
    build: .
    env_file:
      - .env
    environment:
      HUGGINGFACEHUB_API_TOKEN: ${HUGGINGFACEHUB_API_TOKEN}
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - db

  redis:
    image: redis:7
    env_file:
      - .env
    container_name: disease_redis
    ports:
      - "6379:6379"

#  db:
#    image: postgres:14
#    environment:
#      POSTGRES_DB: disease_db
#      POSTGRES_USER: admin
#      POSTGRES_PASSWORD: admin

  db:
    image: postgres:14
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

