version: '3.9'

services:
  backend:
    build: .
    env_file:
      - .env
    environment:
      GEMINI_API_KEY_1: ${GEMINI_API_KEY_1}
      GEMINI_API_KEY_2: ${GEMINI_API_KEY_2}
      PYTHONPATH: /app
    ports:
      - "8000:8000"
    depends_on:
      - redis
    volumes:
      - ./:/app

  redis:
    image: redis:7
    container_name: disease_redis
    ports:
      - "6379:6379"

  pgadmin:
    image: dpage/pgadmin4:7
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@pgadmin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    restart: always
